<!DOCTYPE html>
<html>
<head>
<title>lägg till ny dag</title>
</head>
<body>
    <table>
        <form action="" method="post">
            <tr>
                <td>Datum:</td>
                <td><input type="text" id="date" name="dateInput"></td>
            </tr>
            <tr>
                <td>Plats:</td>
                <td><input type="text" id="location" name="locationInput"></td>
            </tr>
            <tr>
                <td>Kurs:</td>
                <td><input type="text" id="course" name="courseInput"></td>
            </tr>
            <tr>
                <td>Ansvarig lärare1:</td>
                <td><input type="text" id="teacher1" name="teacher1Input"></td>
            </tr>
            <tr>
                <td>Förmiddag:</td>
                <td><input type="text" id="am" name="amInput"></td>
            </tr>
            <tr>
                <td>Eftermiddag:</td>
                <td><input type="text" id="pm" name="pmInput"></td>
            </tr>

            <input type="submit" name="submit" value="submit" />
        </form>
    </table>
<!-- <form name="form1" action="" method="post" id="userInput" style="width: 600px;" >
    <label for="date">datum</label>
    <input type="text" id="date" name="dateInput">
</form>
<form name="form2" action="" method="post" id="userInput" style="width: 600px;" >
    <label for="location">plats</label>
    <input type="text" id="location" name="locationInput">
</form>
<form name="form3" action="" method="post" id="userInput" style="width: 600px;" >
    <label for="course">kurs</label>
    <input type="text" id="course" name="courseInput">
</form>
<form name="form4" action="" method="post" id="userInput" style="width: 600px;" >
    <label for="teacher1">ansvarig lärare</label>
    <input type="text" id="teacher1" name="teacher1Input">
</form>
<form name="form5" action="" method="post" id="userInput" style="width: 600px;" >
    <label for="am">förmiddag</label>
    <input type="text" id="am" name="amInput">
</form>
<form name="form6" action="" method="post" id="userInput" style="width: 600px;" >
    <label for="pm">eftermiddag</label>
    <input type="text" id="pm" name="pmInput">
</form> -->

</body>
</html>