<!DOCTYPE html>
<html>
<head>
<title>Ändra dag</title>
</head>
<body>
    
    <p id="font" style="font-size: 175%;">Detta datum fanns redan inlagt.</p>
    <p id="font" style="font-size: 175%;"></p>

    <div id="wrapper">
        <label for="yes_no_radio">Vill du skriva över befintlig data på denna dag med den nya informationen?</label>
        <form action="" method="post">
            <button id="button1" name="yesnoInput" value="yes" style="left: 685px; top: 74px;">Ja</button>
        </form>
        <form action="" method="post">
            <button id="button2" name="yesnoInput" value="no" style="left: 885px; top: 74px;">Nej</button>
        </form>
      </div>
      
    </form>
</body>
</html>