<!DOCTYPE html>  
<html>  
<head>
<style>
    body {
    background-image: url("img/background_forest_gray.jfif");
    }
</style> 
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="css/login.css">
</head>  
<body>  

    <center> <h1> Login </h1> </center>  
<div class="center-form">
    <form action="" method="post">
        <div class="container">   
            <div class="above-form">
            <label>Email</label>
            </div>
            <input type="text" placeholder="Enter Email" name="email" required>
            <br>  
            <div class="above-form">
            <br>
            <label>Password</label>
            <br>
            </div>  
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>   
            
            <input type="checkbox" checked="checked"> Remember me
            <br>
            <br>
            <br>     
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>
</div>

</body>  
</html> 