<!DOCTYPE html>  
<html>  
<head>
<style>
    body {
    background-image: url("img/background_forest_gray.jfif");
    }
</style> 
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="css/login.css">
</head>  
<body>  

    <center> <h1> Login </h1> </center>  
<div class="center-form">
    <form action="" method="post">
        <div class="container">   
            <div class="above-form">
            <label>Email</label>
            </div>
            <input type="text" placeholder="Enter Email" name="email" required>
            <br>  
            <div class="above-form">
            <br>
            <label>Password</label>
            <br>
            </div>  
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>   
            
            <input type="checkbox" checked="checked"> Remember me
            <br>
            <br>
            <br>     
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>
</div>

<!--Sidenav w/ script-->
<div style="width: 2.5%; position: absolute; top: 2.5%;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="http://localhost:3000/login">Logga In</a>
        <a href="http://localhost:3000/register">Registera Konto</a>
        <a href="http://localhost:3000/">Dagsschema</a>
        <a href="http://localhost:3000/vecka">Veckoschema</a>
        <a href="http://localhost:3000/add_schedule">Lägg till schema</a>
      </div>
      <span style="font-size:30px;cursor:pointer; color: burlywood;" onclick="openNav()">&#9776;</span>
    </div>
      
      <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>

</body>  
</html> 