<!DOCTYPE html>
<html>
<head>
<style>
    body {
background-image: url("img/background_forest_gray.jfif");
}
</style>
<link rel="stylesheet" href="css/style.css">
<title>Register didn't succeed. Try again.</title>
</head>
<body>

    <h1 id="font" style="margin-top: 3px" ;>email <%= email%> already exists in database</h1>
    <!-- <span id='date-time'></span> -->   
    <p id="font" style="font-size: 175%;">Try register again or go back to schedule</p>
    
    <!--RegisterButton-->
    <div class="register-button">
        <a href="http://localhost:3000/register">
            <button>Register</button></a>
    </div>

    <!--LoginButton-->
    <div class="day-button">
        <a href="http://localhost:3000/">
            <button>Dagsschema</button></a>
    </div>
    <!-- WeekButton -->
    <div class="week-button">
        <a href="http://localhost:3000/vecka">
            <button>Veckoschema</button></a>
    </div>
    
});


</body>
</html>