<!DOCTYPE html>  
<html>  
<head>
<style>
    body {
    background-image: url("img/background_forest_gray.jfif");
    }
</style> 
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="css/register.css">
</head>  
<body>  

<form action="" method="post">
  <div class="container">  
  <center>  <h1> Register</h1> </center>


<!--FirstNameBlock-->  
<div class="above-form">First Name</div>
<div class="center-form">  
<center>  <label></label> </center>  
<input type="text" name="firstname" placeholder= "Firstname" size="15" required /> 
</div> 

<!--LastNameBlock-->
<div class="above-form">Last Name</div>
<div class="center-form">
<center>  <label></label> </center> 
<input type="text" name="lastname" placeholder="Lastname" size="15"required />   
</div>


<!--PhoneFormBlock-->
<div class="above-form">Phone</div>
<div class="center-form">
<center> <label></label> </center>  
<input type="text" name="phone" placeholder="Phone"  value="+46" size="2"/>     
</div>

<!--EmailFormBlock-->
<div class="above-form">Email</div>
<div class="center-form">
<center> <label></label> </center>   
 <input type="text" placeholder="Enter Email" name="email" required>  
</div> 

<!--PasswordFormBlock-->
<div class="above-form">Password</div>
<div class="center-form">
<center> <label></label> </center>  
<input type="password" placeholder="Enter Password" name="psw" required>  
</div> 

<!--ReTypeFormBlock-->
<div class="above-form">Re-Type Password</div>
<div class="center-form">
<center> <label></label> </center>   
<input type="password" placeholder="Retype Password" name="psw-repeat" required>  
</div>


<div class="center-form">
<button type="submit" class="registerbtn">Register</button>
</div>
</form>

<!--Sidenav w/ script-->
<div style="width: 2.5%; position: absolute; top: 0.5%; left: 0.5%;">
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="http://localhost:3000/login">Logga In</a>
      <a href="http://localhost:3000/register">Registera Konto</a>
      <a href="http://localhost:3000/">Dagsschema</a>
      <a href="http://localhost:3000/vecka">Veckoschema</a>
      <a href="http://localhost:3000/add_schedule">Lägg till schema</a>
    </div>
    <span style="font-size:30px;cursor:pointer; color: burlywood;" onclick="openNav()">&#9776;</span>
  </div>
    
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>

</body>  
</html> 