<!DOCTYPE html>
<html>
<head>
<title>OOP2 Schema</title>
<style>
    body{background-color: black;}
    #wrapperAll{height: 200px; margin-top: 0.5%; width: 100%;}
    #wrapper{height: 200px; margin-top: 0.5%; width: 100%;}
    #wrapper2{height: 25px; margin-top: 0.5%; width: 100%;}
    #div1{display: inline-block; width: 41%; border-radius: 15px; block-size: 150px; background-color: white; margin-left: 1%; text-align: center; margin-top: 0.4%;}
	@keyframes pulse {
		0% {
			transform: scale(0.97);
		}
		
		70% {
			transform: scale(1);
		}
		
		100% {
			transform: scale(0.97);
		}
	}
    #div2{display: inline-block; width: 15%; border-radius: 15px;  block-size: 150px; background-color: white; margin-left: 0.5%; text-align: center;}
    #div3{display: inline-block; width: 40.5%; border-radius: 15px; block-size: 150px; background-color: white; margin-left: 0.5%; text-align: center;}
    #font{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; text-align: center;}
    #lesson1{display: inline-block; width: 41%; border-radius: 15px; block-size: 20px; background-color: black; margin-left: 1%; text-align: center; margin-top: 0.4%;}
    #lunch{display: inline-block; width: 15%; border-radius: 15px;  block-size: 20px; background-color: black; margin-left: 0.5%; text-align: center;}
    #lesson2{display: inline-block; width: 40.5%; border-radius: 15px; block-size: 20px; background-color: black; margin-left: 0.5%; text-align: center;}
</style>
</head>
<body>

    <h1 id="font" style="margin-top: 3px" ;>Schema MJU20</h1>
    <p id="font" style="font-size: 175%;"><span id='date-time'></span></p>
    <p id="font" style="font-size: 140%;"><%= text%></p>
    <div style="height: 160px;"></div>
    <div></div>
    <!--Time Blocks-->
    <div id="wrapper2" onshow="">
        <div id="lesson1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%; position: absolute;"> 09:00 - 12:00</div>
        <div id="lunch" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%; position: absolute; right: 668px;"> 12:00 - 13:00 </div>
        <div id="lesson2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood; font-size: 150%; position: absolute; right: 5px;"> 13:00 - 16:30 </div>
    </div>
    <!--Lesson Blocks-->
    <div id="wrapper">
        <div contenteditable="true" id="div1" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; position: absolute; top: 380px;"> <%= text2%></div>
        <div contenteditable="true" id="div2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; position: absolute; right: 668px; top: 387px;"> Lunch </div>
        <div contenteditable="true" id="div3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; position: absolute; right: 5px; top: 382px;"> <%= text3%></div>
    </div>
    <script type="text/javascript" src="js/schema_jscript.js"></script>
</body>
</html>