<!DOCTYPE html>
<html>
<head>
<style>
    body {
background-image: url("img/background_forest_gray.jfif");
}
</style>
<link rel="stylesheet" href="css/week.css">
<title>OOP2 Schema</title>
</head>
<body>
    
    <h1>Schema MJU20</h1>
    <p id="p1" style="font-size: 175%;"><%= text4%></p>
    <p id="p1" style="font-size: 140%;"><%= text%></p>
    
    <!--Monday Column-->
    <div class="row">
        <div class="column left">
            <h2>Förmiddag</h2>
            <p>Some text..</p>
          </div>
          <div class="column middle" style="background-color:#ff5f5f">
            <h2>Lunch</h2>
            <p>Some text..</p>
          </div>
          <div class="column right">
            <h2>Eftermiddag</h2>
            <p>Some text..</p>
          </div>
      </div>

      
      <!--Tuesday Column-->
      <div class="row" style="margin-top: 8.6%;">
        <div class="column left">
            <h2>Förmiddag</h2>
            <p>Some text..</p>
          </div>
          <div class="column middle" style="background-color:#ff5f5f;">
            <h2>Lunch</h2>
            <p>Some text..</p>
          </div>
          <div class="column right">
            <h2>Eftermiddag</h2>
            <p>Some text..</p>
          </div>
      </div>

      
      <!--Wednesday Column-->
      <div class="row" style="margin-top: 15.5%;">
        <div class="column left">
            <h2>Förmiddag</h2>
            <p>Some text..</p>
          </div>
          <div class="column middle" style="background-color:#ff5f5f;">
            <h2>Lunch</h2>
            <p>Some text..</p>
          </div>
          <div class="column right">
            <h2>Eftermiddag</h2>
            <p>Some text..</p>
          </div>
      </div>


      <!--Thursday Column-->
      <div class="row" style="margin-top: 22.5%;">
        <div class="column left">
            <h2>Förmiddag</h2>
            <p>Some text..</p>
          </div>
          <div class="column middle" style="background-color:#ff5f5f;">
            <h2>Lunch</h2>
            <p>Some text..</p>
          </div>
          <div class="column right">
            <h2>Eftermiddag</h2>
            <p>Some text..</p>
          </div>
      </div>


      <!--Friday Column-->
      <div class="row" style="margin-top: 29.5%;">
        <div class="column left">
            <h2>Förmiddag</h2>
            <p>Some text..</p>
          </div>
          <div class="column middle" style="background-color:#ff5f5f;">
            <h2>Lunch</h2>
            <p>Some text..</p>
          </div>
          <div class="column right">
            <h2>Eftermiddag</h2>
            <p>Some text..</p>
          </div>
      </div>

</body>