<!DOCTYPE html>
<html>
<head>
<style>
    body {
background-image: url("img/background_forest_gray.jfif");
}
</style>
<link rel="stylesheet" href="css/newweek.css">
</head>
<body>
	<h1>vecka <%= weekOut%></h1>
    <br>
    <br>
    <br>
	<table border="1" cellspacing="0" align="center">
		<!--<caption>Timetable</caption>-->
		<tr>
			<td align="center" height="80"
				width="100"><br>
				<b>Day/Period</b></br>
			</td>
			<td align="center" height="80"
				width="350">
				<b>09:00 - 12:00</b>
			</td>
            <td rowspan="6" align="center" height="80" width="85">
                <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td align="center" height="80"
				width="350">
				<b>13:00 - 16:30</b>
			</td>
            <td align="center" height="80"
				width="100">
				<b>Lokal</b>
			</td>
            <tr>
                <td align="center" height="80">
                    <b>Måndag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80"><%= amMonOut%>
                </td>
                <td align="center" height="80">
                    LAB
                </td>
                <td align="center" height="80" width="85">
                    <b>Distans</b>
                </td>
                
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Tisdag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80">Eget Arbete
                </td>
                <td align="center" height="80">
                    LAB
                </td>
                <td align="center" height="80" width="85">
                    <b>Distans</b>
                </td>
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Onsdag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80">Eget Arbete
                </td>
                <td align="center" height="80">
                    LAB
                </td>
                <td align="center" height="80" width="85">
                    <b>Distans</b>
                </td>   
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Torsdag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80">Eget Arbete
                </td>
                <td align="center" height="80">
                    LAB
                </td>
                <td align="center" height="80" width="85">
                    <b>Distans</b>
                </td>
            </tr>

            <tr>
                <td align="center" height="80">
                    <b>Fredag</b>
                </td>
                <td colspan="1" align="center" 
                    height="80">Eget Arbete
                </td>
                <td align="center" height="80">
                    LAB
                </td>
                <td align="center" height="80" width="85">
                    <b>Distans</b>
                </td>
            </tr>
           
			
			
	</table>
</body>

</html>
