
#wrapperAll{
    height: 200px; 
    margin-top: 0.5%;
     width: 100%;
    }

#wrapper{
    height: 200px; 
    margin-top: 0.5%; 
    width: 100%;
}

#wrapper2{
    height: 25px; 
    margin-top: 0.5%; 
    width: 100%;
}

#div1{
    display: inline-block; 
    width: 41%; border-radius: 15px; 
    block-size: 150px; 
    background-color: white; 
    margin-left: 1%; 
    text-align: center; 
    margin-top: 0.4%; 
    background-color: burlywood; 
    position: absolute;
}

#div2{
    display: inline-block; 
    width: 15%; 
    border-radius: 15px;  
    block-size: 150px; 
    background-color: white; 
    margin-left: 0.5%;
    text-align: center; 
    background-color: burlywood; 
    margin-top: 0.4%; 
    position: absolute; 
    left: 42.5%;
}

#div3{
    display: inline-block; 
    width: 40.5%; 
    border-radius: 15px; 
    block-size: 150px; 
    background-color: white; 
    margin-left: 0.5%; 
    text-align: center; 
    background-color: burlywood; 
    margin-top: 0.4%; 
    position: absolute; 
    left: 58%;
}
#font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: burlywood; 
    text-align: center;
}

#lesson1{
    display: inline-block; 
    width: 41%; 
    border-radius: 15px; 
    block-size: 20px; 
    margin-left: 1%; 
    text-align: center; 
    margin-top: 0.4%;
}

#lunch{
    display: inline-block; 
    width: 15%; 
    border-radius: 15px;  
    block-size: 20px; 
    margin-left: 0.5%; 
    text-align: center;
}

#lesson2{
    display: inline-block; 
    width: 40.5%; 
    border-radius: 15px; 
    block-size: 20px; 
    margin-left: 0.5%; 
    text-align: center;
}

#button1{
    background-color: transparent; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    overflow: hidden; 
    outline: none; 
    color: burlywood; 
    font-size: 150%; 
    position: absolute;
}

#button2{
    background-color: transparent; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    overflow: hidden; 
    outline: none; 
    color: burlywood; 
    font-size: 150%; 
    position: absolute;
}

.register-button {
    background-color: red;
    width: 4%;
    margin-top: 11%;
    display: inline-block;
}

.login-button {
    background-color: red;
    width: 3%;
    display: inline-block;
}


