#wrapperAll{
    height: 200px; 
    margin-top: 0.5%;
     width: 100%;
    }

#wrapper{
    height: 200px; 
    margin-top: 0.5%; 
    width: 100%;
}

#wrapper2{
    height: 25px; 
    margin-top: 0.5%; 
    width: 100%;
}

#div1{
    display: inline-block; 
    width: 41%; border-radius: 15px; 
    block-size: 70px; 
    background-color: white; 
    margin-left: 1%; 
    text-align: center; 
    margin-top: 0.4%; 
    background-color: burlywood; 
    position: absolute;
}
@keyframes pulse {
    0% {
        transform: scale(0.97);
    }
    
    70% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(0.97);
    }
}

#div2{
    display: inline-block; 
    width: 15%; 
    border-radius: 15px;  
    block-size: 70px; 
    background-color: white; 
    margin-left: 0.5%;
    text-align: center; 
    background-color: burlywood; 
    margin-top: 0.4%; 
    position: absolute; 
    left: 42.5%;
}

#div3{
    display: inline-block; 
    width: 40.5%; 
    border-radius: 15px; 
    block-size: 70px; 
    background-color: white; 
    margin-left: 0.5%; 
    text-align: center; 
    background-color: burlywood; 
    margin-top: 0.4%; 
    position: absolute; 
    left: 58%;
}
#div4{
    display: inline-block; 
    width: 40.5%; 
    border-radius: 15px; 
    block-size: 150px; 
    background-color: white; 
    margin-left: 0.5%; 
    text-align: center; 
    background-color: burlywood; 
    margin-top: 0.4%; 
    position: absolute; 
    left: 58%;
}
#div5{
    display: inline-block; 
    width: 40.5%; 
    border-radius: 15px; 
    block-size: 150px; 
    background-color: white; 
    margin-left: 0.5%; 
    text-align: center; 
    background-color: burlywood; 
    margin-top: 0.4%; 
    position: absolute; 
    left: 58%;
}
#font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: burlywood; 
    text-align: center;
}

#lesson1{
    display: inline-block; 
    width: 41%; 
    border-radius: 15px; 
    block-size: 20px; 
    margin-left: 1%; 
    text-align: center; 
    margin-top: 0.4%;
}

#lunch{
    display: inline-block; 
    width: 15%; 
    border-radius: 15px;  
    block-size: 20px; 
    margin-left: 0.5%; 
    text-align: center;
}

#lesson2{
    display: inline-block; 
    width: 40.5%; 
    border-radius: 15px; 
    block-size: 20px; 
    margin-left: 0.5%; 
    text-align: center;
}

#button1{
    background-color: transparent; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    overflow: hidden; 
    outline: none; 
    color: burlywood; 
    font-size: 150%; 
    position: fixed;
}

#button2{
    background-color: transparent; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    overflow: hidden; 
    outline: none; 
    color: burlywood; 
    font-size: 150%; 
    position: fixed;
}

.register-button {
    width: 4%;
    display: inline-block;
    position: fixed;
    
}

.login-button {
    width: 3%;
    display: inline-block;
    position: fixed;
    left: 5%;
}
.week-button {
    width: 3%;
    display: inline-block;
    position: fixed;
    right: 1%;
}

 
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: burlywood;
    display: block;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


